#settings {
  position: absolute;
  top: 50px;
  right: 20px;
  background: rgba(0,0,0,0.6);
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  font-family: sans-serif;
  z-index: 2;
}
#settings input {
  width: 100px;
}
